---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
        <a href='{{ page.url | slugify | prepend: "/_posts/" | prepend: site.repository.blob_root | append: ".md" }}'>
          <span class="icon icon--gitlab">{% include icon-gitlab.svg %}</span>
        </a>
        <a href='https://www.pixme.bio/jeffquesado' target="_blank">
          <span class="icon">{% include icon-pixme.svg %}</span>
        </a>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
